*{
    margin: 0 auto;
    padding: 0 auto;
}
.cart{
width: 50%;

}
.foot{
    background-color: #555 !important;
    color:#aaa;
    margin-bottom: 0px;
}
.between{
    height: 1000px;
}
footer{
    background-color: #555 !important;
    color:#aaa;
    margin-bottom: 0px;
    bottom:0;
    position:absolute;
    width:100% ;
}
<!-- .between{
height: auto px;

} 
