.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}
.main {
    display: flex;

}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    height: 100%;
}

body {
    background: rgba(0, 0, 0, 0.5);
}

.sidebr {
    width: 200px;
    height: 350px;
    background: rgba(0, 0, 0, 0.75);
    margin: 10px 10px;
    padding: 10px 0px 20px 0px;
    border: 1px solid #111;
    border-radius: 4px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);

}

.link {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    cursor: pointer;
}

.link:after {
    content: '';
    position: absolute;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    bottom: 50%;
    left: -100%;
    transition-delay: all 0.5s;
    transition: all 0.5s;
}

.link:hover:after,
.link.hover:after {
    left: 100%;
}

.link .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
    transition: all 0.75s;
    transform: translateY(100%) translateZ(0);
    transition-delay: all 0.25s;
}

.link:hover .text,
.link.hover .text {
    text-shadow: 0px -40px 0px rgba(255, 255, 255, 0);
    transform: translateY(0%) translateZ(0) scale(1.1);
    font-weight: 600;
}
.product{
    display:flex;
    justify-content: space-between;
    flex-wrap:  wrap ;
    margin:10px;
    width: 1000px;
    


}
.product1{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 100px;
}
.product1 img{
    width: 200px;
    height: 200px;
    padding: 1px;
    border: black;
    border: 5px solid #555;
    
}
footer{
    background-color: #555 !important;
    color:#aaa;
    margin-bottom: 0px;
}
<!-- .between{
height: auto px;

} -->
