.order_details{
    margin-left: 10%;

}
.ship_address{
    margin-left: 10%;
}
footer{
    display: flex;
    justify-content: space-around;
    bottom:0;
    position:absolute;
    width:100% ;
}
.contact{width: 20%;}
.about_us{width: 20%;}
.our_map{width: 20%;}
.foot{
    background-color: #555 !important;
    color:#aaa;
    margin-bottom: 0px;
}
.between{
    height: 1000px;
}