
form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
.troubleshoot{
    margin:10px;
}

.label1{
    width: 120px;

}
.input1{
    border-radius: 10px;
}
.navbar navbar-inverse{
    background-color: blue ; 
}

.form-select {
    display: block;
    width: 18%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
footer{
    background-color: #555 !important;
    color:#aaa;
    margin-bottom: 0px;
}
.between{
    height:auto;
}