<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1></h1>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
    
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                                    class="icon-bar"></span><span class="icon-bar"></span><span
                                    class="icon-bar"></span></button>
                            <a href="/" class="navbar-brand">easybuild</a>
                        </div>
    
                        <div class="navbar-collapse collapse" id="mobile_menu">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
    
                                <li><a href="/order">order</a></li>
                                <li><a href="/cart">mybuild</a></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li>
                                    <form action="" class="navbar-form">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="search" name="search" id=""
                                                    placeholder="Search Anything Here..." class="form-control">
                                                <span class="input-group-addon"><span
                                                        class="glyphicon glyphicon-search"></span></span>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
    
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    {%if log%}
                                    class="glyphicon glyphicon-log-in"></span> welcome {{getprof.first_name}} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/log/logout">Logout</a></li>
                                    {%else%}
                                            class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/log">Login</a></li>
                                    {%endif%}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <h1>THANK you for purchease</h1>
            <h2>one of our employees will contact you soon for confirm</h2>

            <footer>
                <!-- Site footer -->
                <footer class="site-footer">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">Build PC <i> Is e-commerce for sale </i>   separated PC component so you can buy computer component or build PC with custom specifications ,in order of that the website makes the search process easier by showing a list of fully built PC or customized specifications. The website will deliver customer’s order make it ready to use, the website distinguish by deliver the order in a short period of no more than two days and give a warranty depend on the selected parts, if the customer faced any problem or when a malfunction occurs so the customer can report in troubleshoot section then the website team will contact with the customer.</p>
                        </div>
                
                        <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li><a href="/{{motherboard}}">motherboard</a></li>
                            <li><a href="/{{cpu}}">cpu</a></li>
                            <li><a href="/{{ram}}">RAM</a></li>
                            <li><a href="/{{storage}}">storage</a></li>
                            <li><a href="/{{gpu}}">gpu</a></li>
                            <li><a href="/{{powersupply}}">power supply</a></li>
                        </ul>
                        </div>
                
                        <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="/order">Order</a></li>
                            <li><a href="/cart">Mybuild</a></li>
                            <li><a href="/">Main/a></li>
                           
                        </ul>
                        </div>
                    </div>
                    <hr>
                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                        <a href="/">mybuild</a>.
                        </p>
                        </div>
                
                    
                    </div>
                </div>
            </footer>
            </footer>

    </body>
</html>